<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

  <body>
    <%- include('../partials/nav.ejs') %>
      <div class="container">
        <div class="card-container">
          <!-- Menu Item Card -->
          <% if (qbanks.length> 0) { %>
            <% qbanks.forEach(item=> { %>
              <div class="card-block fadeInKiri">
                <a href="/admin/qbank/<%= item._id %> ">
                  <h3>
                    <!-- <i class="<%= item.icon %>"></i> -->
                    <%= item.title %>
                  </h3>
                  <h3 class="card-label">
                    <%= item.desc %>
                  </h3>
                </a>
              </div>
              <% }) %>
                <% } else { %>
                  <p>Loading...</p>
                  <% } %>
                    <!-- END Menu Item Card -->
        </div>
      </div>

      <%- include('../partials/auth-modal.ejs') %>
        <%- include('../partials/footer.ejs') %>
          <%- include('../partials/footer-script.ejs') %>
  </body>

</html>